/* TODO --> Write media queries so that this content will dynamically adapt to the user's screen size. */

.PoDListItem {
  border: 7.5px solid #171717;
  border-radius: 25px;
  margin: 2rem;
  padding: 10px;
  background-color: ghostwhite;
  max-width: 1400px;
}

.PoDListItem h2 {
  text-align: center;
}

.PoDListItem-image-wrapper {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  max-height: 1600px;
  height: inherit;
  width: inherit;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.PoDListItem-video-wrapper {
  padding: 10px;
  margin: 0 auto;
  width: 600px;
}

.PoDListItem p {
  padding-left: 15px;
  padding-right: 15px;
}
