body {
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Sans', sans-serif;

  margin: 0;
  padding: 0;

  background: url(./images/dalle-two-repeatable-starry-night-backdrop-alt.png)
    repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.App {
  margin-top: 3rem;
}

.App .App-banner {
  margin-bottom: 6rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
